$springville: "Springville";
$caslon: "ACaslonPro";

$header-height: 120px;
$header-height-sm: 50px;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-hero-ratio {
  @media (max-width: 773px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@font-face {
  font-family: "ACaslonPro";
  src: url("/fonts/ACaslonPro-Regular.otf") format("otf")
}

@font-face {
  font-family: "Springville";
  src: url("/fonts/Springville-Regular3.otf") format("otf")
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header-wrap {
  @include for-phone-only {
    height: $header-height-sm;
  }

  background: transparent;
  height: $header-height;
}

  #header-wrap #header-bg {
    @include for-phone-only {
      height: $header-height-sm;
    }

    background: #fff;
    height: $header-height;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  #header-wrap #header-bg #header-content {
    @include for-phone-only {
      height: $header-height-sm;
    }

    height: $header-height;
    margin: 0 auto;
    max-width: 1162px;
  }
  
  #header-wrap #header-bg #header-content #header-grid {
    @include for-phone-only {
      height: $header-height-sm;
    }

    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto auto;
    height: $header-height;
  }

#logo-wrap {
}

  #logo-wrap img {
  }

#nav-wrap {
}

#header-info-wrap {
}

  #header-info-wrap p {
    color: #767676;
    font-size: 0.8em;
  }

#hero-wrap {
  @include for-hero-ratio {
    height: 0;
    padding-top: 75%;
    width: 100%;
  }
  
  box-sizing: border-box;
  color: #fff;
  height: 580px;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 0;
}

  #hero-wrap #hero-ratio {
    @include for-hero-ratio {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    
    height: 580px;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #hero-wrap .hero-title {
    @include for-hero-ratio {
      // padding-top: 25%;
    }

    @include for-phone-only() {
      padding-top: 10%;
      font-size: 2.2em;
    }

    font-family: $springville;
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    padding: 20% 0 0 50px;
  }

  #hero-wrap .hero-subtitle {
    @include for-phone-only() {
      font-size: 1.6em;
    }

    font-family: $caslon;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    padding: 15px 0 0 50px;
  }

  #hero-wrap .hero-content {
    @include for-phone-only() {
      font-size: 1em;
    }

    font-family: $caslon;
    font-weight: normal;
    margin: 0;
    padding: 15px 0 0 50px;
  }

.hero-fade-in, .hero-fade-out {
  height: 100%;
  width: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hero-fade-in {
  animation-name: heroFadeIn;
}

.hero-fade-out {
  animation-name: heroFadeOut;
}

  @keyframes heroFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes heroFadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

#hero-nav {
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
}

  #hero-nav .hero-item {
    color: #f0f0f0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    margin: 0 4px;
    padding: 10px 0;
  }

  #hero-nav .hero-item.selected {
    color: #e1e1e1;
  }

#body-wrap {
  background: #efefef;
  margin: 50px auto 0 auto;
  max-width: 1162px;
  padding: 0;
}

  #body-wrap .col {
    background: red;
    height: 100px;
  }

.card-wrap {
}

  .card-wrap img.featured-img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  .card-wrap h1.title {
    @include for-tablet-landscape-up {
      font-size: 3em;
    }

    @include for-tablet-portrait-up {
      font-size: 2.6em;
    }

    @include for-phone-only {
      font-size: 2.2em;
    }

    color: #131313;
    font-family: $springville;
    font-size: 3em;
    font-weight: normal;
    margin: 20px 0 0 0;
    padding: 0;
  }

  .card-wrap p.date {
    color: #767676;
    font-size: 0.7em;
    margin: 50px 0 0 0;
    padding: 0;
  }

  .card-wrap p.author {
    color: #131313;
    font-family: $caslon;
    font-size: 0.8em;
    margin: 20px 0 0 0;
    padding: 0;
  }

    .card-wrap p.author a,
    .card-wrap p.author a:hover { color: #131313; }

#footer-wrap {
  background: #ddd;
  clear: both;
  height: 50px;
}