@font-face {
  font-family: "ACaslonPro";
  src: url("/fonts/ACaslonPro-Regular.otf") format("otf")
}

@font-face {
  font-family: "Springville";
  src: url("/fonts/Springville-Regular3.otf") format("otf")
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header-wrap {
  background: transparent;
  height: 120px;
}

  #header-wrap #header-bg {
    background: #fff;
    height: 120px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  #header-wrap #header-bg #header-content {
    height: 120px;
    margin: 0 auto;
    max-width: 1162px;
  }
  
  #header-wrap #header-bg #header-content #header-grid {
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto auto;
    height: 120px;
  }

#logo-wrap {
}

  #logo-wrap img {
  }

#nav-wrap {
  /* background: #ccc; */
}

#header-info-wrap {
  /* background: #ddd; */
}

  #header-info-wrap p {
    color: #767676;
    font-size: 0.8em;
  }

#hero-wrap {
  /* background: #ddd; */
  box-sizing: border-box;
  color: #fff;
  height: 580px;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 0;
  z-index: 0;
}

  #hero-wrap .hero-title {
    /* background: green; */
    font-family: "Springville";
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    padding: 270px 0 0 50px;
  }

  #hero-wrap .hero-subtitle {
    /* background: orange; */
    font-family: "ACaslonPro";
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    padding: 15px 0 0 50px;
  }

  #hero-wrap .hero-content {
    /* background: purple; */
    font-family: "ACaslonPro";
    font-weight: normal;
    margin: 0;
    padding: 15px 0 0 50px;
  }

.hero-fade-in, .hero-fade-out {
  height: 100%;
  width: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hero-fade-in {
  animation-name: heroFadeIn;
}

.hero-fade-out {
  animation-name: heroFadeOut;
}

  @keyframes heroFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes heroFadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

#hero-nav {
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
}

  #hero-nav .hero-item {
    color: #f0f0f0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    margin: 0 4px;
    padding: 10px 0;
  }

  #hero-nav .hero-item.selected {
    color: #e1e1e1;
  }

#body-wrap {
  background: #efefef;
  /* display: grid; */
  /* grid-gap: 50px; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 1fr 1fr 1fr; */
  margin: 50px auto 0 auto;
  max-width: 1162px;
  padding: 0;
}

  #body-wrap .col {
    background: red;
    height: 100px;
  }

.card-wrap {
}

  .card-wrap img.featured-img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  .card-wrap h1.title {
    color: #131313;
    font-family: "Springville";
    font-size: 3em;
    font-weight: normal;
    margin: 20px 0 0 0;
    padding: 0;
  }

  .card-wrap p.date {
    color: #767676;
    font-size: 0.7em;
    margin: 50px 0 0 0;
    padding: 0;
  }

  .card-wrap p.author {
    color: #131313;
    font-family: "ACaslonPro";
    font-size: 0.8em;
    margin: 20px 0 0 0;
    padding: 0;
  }

    .card-wrap p.author a,
    .card-wrap p.author a:hover { color: #131313; }

#footer-wrap {
  background: #ddd;
  clear: both;
  height: 50px;
}